[submodule "vim-rails"]
	path = vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim-bundler"]
	path = vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "zencoding-vim"]
	path = zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim-session"]
	path = vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "vim-commentary"]
	path = vim-commentary
	url = git://github.com/tpope/vim-commentary.git
